//- .footerIPN
//-   .container
//-     .box-8.box-offset-2
//-       .titulo INSTITUTO POLITÉCNICO NACIONAL
//-       p.contenido D.R. Instituto Politécnico Nacional (IPN), Av. Luis Enrique Erro S/N, Unidad Profesional Adolfo López Mateos, Zacatenco, Delegación Gustavo A. Madero, C.P. 07738, México, Distrito Federal, 2009-2010.
//-       p.contenido Esta página es una obra intelectual protegida por la Ley Federal del Derecho de Autor, puede ser reproducida con fines no lucrativos, siempre y cuando no se mutile, se cite la fuente completa y su dirección electrónica; su uso para otros fines, requiere autorización previa y por escrito de la Dirección General del Instituto.
