title SIIFoCAPV.1
meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(name='description', content='SIIFoCap')
meta(name='keywords', content='SIIFoCap')
meta(name='author', content='IPN-labs')
meta(http-equiv='X-UA-Compatible', content='IE=edge')

//- Compilado de SASS
link(href='/stylesheets/main.css', rel='stylesheet')
link(rel='stylesheet', href='/vendor/fontawesome/css/font-awesome.css')
link(rel='stylesheet', href='/vendor/animate-css/animate.css')
link(rel='stylesheet', href='/vendor/bootstrap-table/src/bootstrap-table.css')
