link(rel='stylesheet', href='/stylesheets/main.css')
link(rel='stylesheet', href='/vendor/fontawesome/css/font-awesome.min.css')
link(rel='stylesheet', href='/vendor/animate-css/animate.css')
link(rel='stylesheet', href='/vendor/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css')
