extends ../layout/layout-up

block content
  #message
    if message
      .error-message
          a.text-center #{message}
  .row
    .col-md-12
      .formulario.animated.fadeIn
        
        .contenido
          .row
            .col-md-11
              form.form-horizontal(method='post', action="/evaluadores/#{evaluador._id}/formacion-academica", enctype='application/json')
                +h-input("hidden", "", "estatus_sec_2", "", "true", 9, 3, "", "","") 
                  
                +hr()
                .col-md-9.col-md-offset-3
                    button.btn.btn-success.fa-r(type='submit')
                      i.fa.fa-save.fa-r
                      | Guardar
                      
                    if evaluador.estatus_sec_2=='true'
                      a.btn.btn-success.fa-r(href="/evaluadores/#{evaluador._id}/pendiente")
                        i.fa.fa-check-circle.fa-r
                        | Continuar
                    else
                      a.btn.btn-success.disabled.fa-r(href="")
                        i.fa.fa-check-circle.fa-r
                        | Continuar

                  

                    a.btn.btn-danger(href="#")
                      | Cancelar


  append javascript
    script(type='text/javascript', src='/vendor/jquery/dist/jquery.js')
    script.
      var hola = "hola";
