extends ../../layouts/general

block content
  .col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4
    #login.formulario
      .titulo
        i.fa.fa-r.fa-lock
        | Recuperar contraseña
      .contenido
        center
          | Por el momento esta opción no se encuentra disponible, si olvidaste tus datos de acceso comunícate con el administrador del sistema.
          br

      .pie
        a.btn.btn-default(href='/')
            i.fa.fa-r.fa-home
            | Regresar

    
