extends ../../layouts/appAdmin

block content
  #message
    if message
      .error-message
          a.text-center #{message}
  .row
    .col-lg-12
      .formulario.animated.fadeIn
        .titulo
          i.fa.fa-r.fa-plus-circle
          | Editar usuario
        .contenido
          form.form-horizontal(method='post', action="/administracion/usuarios/editar/#{usuario._id}")
            +h-input("text", "Usuario", "username", "Usuario", usuario.username, 6, 3, "autofocus", "empty","")
            +h-input("password", "Contraseña", "password", "Contraseña", "", 6, 3, "", "empty","")
            +h-input("email", "Email", "email", "@", usuario.email, 6, 3, "", "empty","")
            +h-input("text", "Nombre(s)", "firstName", "Nombres", usuario.email, 6, 3, "", "empty","")
            +h-input("text", "Apellido Paterno", "lastNameP", "Apellido Paterno", usuario.lastNameP, 6, 3, "", "empty","")
            +h-input("text", "Apellidos Materno", "lastNameM", "Apellidos Materno", usuario.lastNameM, 6, 3, "", "empty","")
            .form-group
              span(class="control-label col-md-3")
                | Rol
              div(class="col-md-6")
                select#rol.form-control(name='rol',data-validation="empty", data-toggle="tooltip", data-placement="top", title="")
                  option(value="") Seleccione ...
                    each rol in roles
                      option(value=rol.value, selected= rol.value == usuario.rol)= rol.text
            .row
              .col-md-9.col-md-offset-3
                button.btn.btn-success.fa-r(type='submit')
                  | Editar
      

                a.btn.btn-default(href="/administracion")
                  | Cancelar

      