extends ../layout/layout_up

block content
  #message
    if message
      .error-message
          a.text-center #{message}
  .row
    .col-md-12
      .formulario.animated.fadeIn
        
        .contenido
          .row
            .col-md-11
              form.form-horizontal(method='post', action="/acciones-formacion/nueva/#{accionFormacion._id}/encuadre", enctype='application/json')
                
                
                span(class="col-md-11 col-md-offset-1 alert alert-info")
                  | A partir de la justificación, redacte la competencia a desarrollar.
                span(class="col-md-11 col-md-offset-1")
                    | Competencia:
                    +ayuda-bottom('<p>Una competencia debe contener:</p><p>&nbsp</p><UL type = disk ><LI>La acción que debe ejecutarse y verificarse.<LI>El objeto, que es el conocimiento o habilidad en términos de la acción<LI>La condición, que es el contexto de aplicación a partir del cual se realizará la acción planteada y justificará el para qué de la misma</UL><p>&nbsp</p><p>Ejemplo: “Elabora (acción) una propuesta de gestión educativa (objeto) fundamentada en el conocimiento de las problemáticas de la administración institucional (condición o contexto).”</p>')
                  
                div(class="col-md-11 col-md-offset-1")
                  textarea.form-control(id="competencia", name="competencia", data-validation="empty", data-toggle="tooltip", data-placement="top", title="")
                  hr
                span(class="col-md-11 col-md-offset-1 alert alert-info")
                  | Defina y redacte los resultados de aprendizaje propuestos que se requieren para lograr la competencia establecida:
                
                span(class="col-md-11 col-md-offset-1")
                  | Resultados de Aprendizaje Propuestos:
                  +ayuda-bottom('<p>Los resultados de aprendizaje propuestos determinan lo que se espera que el participante deba saber, comprender y/o ser capaz de demostrar al finalizar el proceso de aprendizaje. (Manual ECTS, 2005).</p><p>&nbsp</p><p>Para redactar un Resultado de Aprendizaje Propuesto se debe:</p><p>&nbsp</p><UL type = disk ><LI>Utilizar un verbo de acción.<LI>Considerar el tiempo para lograrlo.<LI>Ser congruente con el proceso de aprendizaje.<LI>Asegurar que son observables y medibles y por tanto puedan evaluarse. (Modificado de: Kennedy, D., 2007).</UL><p>&nbsp</p><label>Importante. El total de resultados de aprendizaje propuestos deberá asegurar el desarrollo de la competencia establecida. En este sentido, se sugiere considerar al menos tres.</label><p>&nbsp</p>')
                  
                
                div.col-md-11.col-md-offset-1
                  hr
                  a.btn.btn-success.fa-r(onclick='addRAP()')
                    i.fa.fa-plus-circle.fa-r
                    | Agregar RAP
                          
                  
                              
                +h-input("hidden", "", "estatus_sec_3", "", "true", 9, 3, "", "","") 
                .row
                  .col-md-12
                    hr
                  .col-md-9.col-md-offset-3
                    button.btn.btn-success.fa-r(type='submit')
                      i.fa.fa-save.fa-r
                      | Guardar 
                    
                    if accionFormacion.estatus_sec_2=='true'
                      a.btn.btn-success.fa-r(href="")
                        i.fa.fa-check-circle.fa-r
                        | Continuar
                    else
                      a.btn.btn-success.disabled.fa-r(href="")
                        i.fa.fa-check-circle.fa-r
                        | Continuar
                        
                    a.btn.btn-default(href="")
                      | Cancelar

  append javascript
    script(type='text/javascript', src='/vendor/jquery/dist/jquery.js')
    script.
      //- Variable temporal para incrementar id de RAP
      var rap = 0;
      
      //- Funcion para crear un nuevo resultado propuesto
      function addRAP(){
        alert("hola accion");
      }
