extends layout/layout

block content
  #message
    if message
      .error-message
          a.text-center #{message}
  .row
    .col-md-12
      .formulario.animated.fadeIn
        
        .contenido
          .row
            .col-md-11
              form.form-horizontal(method='post', action="/acciones-formacion/nueva/datos-generales", enctype='application/json')
                +h-input("text", "Nombre(s):", "nombre", "Nombre(s)", "", 9, 3, "", "","")     
                +h-input("text", "Apellidos:", "apellidos", "Apeliidos", "", 9, 3, "", "","")     

                hr

                +h-input("text", "Clave Única de Registro de Población:", "curp", "CURP", "", 9, 3, "", "","")
                +h-input("text", "Registro Federal de Contribuyentes:", "rfc", "RFC", "", 9, 3, "", "","")

                hr

                +h-input("text", "Domicilio", "domicilio", "Calle y Número", "", 9, 3, "", "","")
                +h-input("text", "Colonia", "colonia", "Colonia", "", 9, 3, "", "","")
                +h-input("text", "Delegación o Municipio", "delegacion", "Delegación o Municipio", "", 9, 3, "", "","")
                +h-input("text", "Código Postal", "cp", "C.P.", "", 9, 3, "", "","")

                .form-group
                  span(class="control-label col-md-3")
                    | Entidad Federativa
                  div(class="col-md-6")
                    select#entidad.form-control(name='entidad',data-validation="empty", data-toggle="tooltip", data-placement="top", title="")
                      option(value="AG") Aguascalientes
                      option(value="BC") Baja California
                      option(value="BS") Baja California Sur
                      option(value="CA") Campeche
                      option(value="CP") Chiapas
                      option(value="CH") Chihuahua
                      option(value="CU") Coahuila
                      option(value="CO") Colima
                      option(value="DF") Distrito Federal
                      option(value="DU") Durango
                      option(value="GJ") Guanajuato
                      option(value="GR") Guerrero
                      option(value="HD") Hidalgo
                      option(value="JA") Jalisco
                      option(value="MX") México
                      option(value="MC") Michoacán
                      option(value="MO") Morelos
                      option(value="NA") Nayarit
                      option(value="NL") Nuevo León
                      option(value="OX") Oaxaca
                      option(value="PU") Puebla
                      option(value="QE") Querétaro
                      option(value="QR") Quintana Roo
                      option(value="SL") San Luis Potosí
                      option(value="SI") Sinaloa
                      option(value="SO") Sonora
                      option(value="TB") Tabasco
                      option(value="TA") Tamaulipas
                      option(value="TL") Tlaxcala
                      option(value="VZ") Veracruz
                      option(value="YT") Yucatán
                      option(value="ZA") Zacatecas

                hr

                .form-group
                  span(class="control-label col-md-3")
                    | Dependencia Politécnica Solicitante:
                  div(class="col-md-9")
                    select#dependencia.form-control(name='dependencia',data-validation="empty", data-toggle="tooltip", data-placement="top", title="")
                      option(value="") Seleccione dependencia ...
                        each dependencia in dependencias
                          option(value=dependencia.value)= dependencia.text

                .form-group#unidadForm
                  span(class="control-label col-md-3")
                    | 
                  div(class="col-md-9")
                    select#unidad.form-control(name='unidad',data-validation="empty", data-toggle="tooltip", data-placement="top", title="")
                      option(value="") Seleccione unidad ...

                .form-group
                  span(class="control-label col-md-3")
                    | Dirigido a:
                    +ayuda("Seleccione el público al que se dirige la acción de formación.")
                  div(class="col-md-9")
                    select#dirigido_a.form-control(name='dirigido_a',data-validation="empty", data-toggle="tooltip", data-placement="top", title="")
                      option(value="") Seleccione ...
                      option(value="comunidad-politecnica") Comunidad Politécnica
                      option(value="comunidad-externa") Comunidad Externa



                .form-group#dirigido_a_tipo_Form
                  span(class="control-label col-md-3")
                    | 
                  div(class="col-md-9")
                    select#dirigido_a_tipo.form-control(name='dirigido_a_tipo',data-validation="empty", data-toggle="tooltip", data-placement="top", title="")
                      option(value="") Seleccione ...
             


                +h-input("text", "", "nombre_institucion", "Escriba el nombre de la institución", "", 9, 3, "", "","")
                


                .form-group
                  span(class="control-label col-md-3")
                    | Dependencia politécnica a la que se solicita el registro:
                  div(class="col-md-9")
                    select#dirigido_a_dependencia.form-control(name='dirigido_a_dependencia',data-validation="empty", data-toggle="tooltip", data-placement="top", title="")
                      option(value="") Seleccione ...
                

                +h-input("text", "Nombre de la Acción de Formación:", "nombre_accion_Formacion", "Acción de formación", "", 9, 3, "", "empty", "Solo debe colocar el nombre de la acción de formación, evitando el uso de tipos de contenidos como taller, curso, seminario. El nombre de la acción de formación será registrado automáticamente tal y como lo escriba. Le recomendamos el uso de mayúsculas, minúsculas, acentos y revisar ortografía.")


                hr

                +h-input("text", "Teléfono", "telefono", "Número de Teléfono", "", 9, 3, "", "","")
                +h-input("text", "Móvil", "movil", "Número de Teléfono Móvil", "", 9, 3, "", "","")
                +h-input("text", "Trabajo", "trabajo", "Número de Teléfono en el Trabajo", "", 9, 3, "", "","")
                +h-input("text", "Extensión", "extension", "Número de Extensión", "", 9, 3, "", "","")

                hr


                
                .form-group
                  span(class="control-label col-md-3")
                    | Tipo de acción de formación:
                  div(class="col-md-9")
                    select#tipo_accion_Formacion.form-control(name='tipo_accion_Formacion',data-validation="empty", data-toggle="tooltip", data-placement="top", title="")
                      option(value="") Seleccione ...
                      option(value="curso") Curso
                      option(value="taller") Taller
                      option(value="seminario") Seminario
                      option(value="Diplomado") Diplomado
                
                
                
                
                .form-group
                  span(class="control-label col-md-3")
                    | Modalidad de acción de formación:
                  div(class="col-md-9")
                    select#modalidad_accion_Formacion.form-control(name='modalidad_accion_Formacion',data-validation="empty", data-toggle="tooltip", data-placement="top", title="")
                      option(value="") Seleccione ...
                      option(value="escolarizada") Escolarizada
                      option(value="no_escolarizada") No escolarizada
                      option(value="mixta") Mixta
                  
                      
                      
                      
                
                
                +h-input("text", "Duración total en horas(presencial):", "horas_presencial", "Horas", "", 9, 3, "", "","")
                +h-input("text", "Duración total en horas(en línea):", "horas_linea", "Horas", "", 9, 3, "", "","")
            
                      
                      
                      
                
                .form-group#modalidad_fecha_Form
                  span(class="control-label col-md-3")
                    | Periodo de impartición:
                  span(class="control-label col-md-1")
                    | Inicio:
                  div(class="col-md-3")
                    input.form-control#modalidad_fecha_inicio(type="date", name="modalidad_fecha_inicio",data-validation="empty", data-toggle="tooltip", data-placement="top", title="")
                  span(class="control-label col-md-1")
                    | Fin:   
                  div(class="col-md-3")
                    input.form-control#modalidad_fecha_fin(type="date", name="modalidad_fecha_fin",data-validation="empty", data-toggle="tooltip", data-placement="top", title="")
                      
                      
                      
                      
                      
                      
                      
                .form-group#modalidad_hora_Form
                  span(class="control-label col-md-3")
                    | Horaio:
                  span(class="control-label col-md-1")
                    | Desde:
                  div(class="col-md-3")
                    input.form-control#modalidad_hora_inicio(type="time", name="modalidad_hora_inicio")
                  span(class="control-label col-md-1")
                    | Hasta:   
                  div(class="col-md-3")
                    input.form-control#modalidad_hora_fin(type="time", name="modalidad_hora_fin")
                
                
                
                
                hr
                  
                
                .form-group
                  span(class="control-label col-md-3") Perfil del facilitador:
                  div(class="col-md-9")
                    textarea.form-control(id="perfil_facilitador" name="perfil_facilitador" onkeypress="return IsLetterVal(event);")  


                .form-group
                  span(class="control-label col-md-3") 
                    | Perfil del participante:
                    +ayuda("Integre en la descripción del perfil, lo siguiente: habilidades y conocimientos que el participante requiere para desarrollar las competencias de la acción de formación.")
                  div(class="col-md-9")
                    textarea.form-control(id="perfil_participante" name="perfil_participante" onkeypress="return IsLetterVal(event);")  
                        
                        

                    
                hr
                .form-group
                  span(class="control-label col-md-3")
                  div(class="col-md-9")
                      input#active_coparticipacion(type="checkbox", name="active_coparticipacion", onclick="checkCoparticipacion(this)")
                      span.fa-l En coparticipación con otras Dependencias Politécnicas
                      +ayuda("Seleccionar solo en caso de que la acción de formación se lleve a cabo en colaboración con otra unidad responsable.")
                          
                          
                +h-input("text", "Número de convenio:", "coparticipacion_convenio", "Convenio", "", 9, 3, "", "","")     
                +h-input("text", "Institución que validó el convenio: ", "coparticipacion_institucion_validante", "Institución que validó el convenio", "", 9, 3, "", "","") 
                
                
                .form-group#dependenciaCoparticipanteAdd
                  span(class="control-label col-md-3")
                  div(class="col-md-9")
                      a.btn.btn-success.fa-r(onclick="addUnidadCop()")
                        i.fa.fa-plus-circle.fa-r
                        | Agregar dependencia coparticipante
        
                div#dependenciasCoparticipantesDiv
                  
                  
                +h-input("hidden", "", "estatus_sec_1", "", "true", 9, 3, "", "","") 
                  
                .row
                  .col-md-12
                    hr
                  .col-md-9.col-md-offset-3
                    button.btn.btn-success.fa-r(type='submit')
                      i.fa.fa-save.fa-r
                      | Guardar

                    a.btn.btn-success.disabled.fa-r()
                      i.fa.fa-check-circle.fa-r
                      | Continuar

                    a.btn.btn-danger(href="/acciones-formacion")
                      | Cancelar


  append javascript
    script(type='text/javascript', src='/vendor/jquery/dist/jquery.js')
    script.
      


















